# Telegram Bot Token
# Получите у @BotFather в Telegram
TELEGRAM_BOT_TOKEN=8517653898:AAHwVsdsjErVCNoVGrHhVZUGptPWdrtOC2A

# URL вашего сайта на Vercel
SITE_URL=https://autorisazion-telegram.vercel.app

